@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#FFE8D6,#FFF6FB,#EAFBF7);
    overflow-x:hidden;
    color:#555;
}

/* Container */

.container{
    width:90%;
    max-width:450px;
    margin:40px auto 80px;
}

/* Cards */

.card{
    background:#fff;
    border-radius:25px;
    padding:28px 22px;
    margin:35px 0;
    text-align:center;
    box-shadow:0 12px 30px rgba(0,0,0,.08);

    opacity:0;
    transform:translateY(40px);
    transition:all .8s ease;
}

.card.show{
    opacity:1;
    transform:translateY(0);
}

.ending{
    background:linear-gradient(135deg,#FFF7FA,#F7FFF8,#F2EEFF);
}

/* Headings */

h1{
    font-family:'Sacramento',cursive;
    font-size:60px;
    color:#ff6f91;
    font-weight:400;
    margin-bottom:8px;
}

h2{
    font-family:'Poppins',sans-serif;
    font-size:24px;
    font-weight:600;
    color:#666;
    margin-bottom:15px;
}

/* Text */

p{
    font-size:16px;
    line-height:1.7;
    color:#555;
}

/* Emoji */

.emoji{
    font-size:60px;
    margin-bottom:15px;
}

.icon{
    font-size:34px;
    margin-bottom:15px;
}

/* Footer */

.footer{
    margin-top:25px;
    line-height:1.7;
    color:#666;
    font-size:15px;
}
/* Hearts */

#hearts{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    pointer-events:none;
    z-index:999;
}

.heart{
    position:absolute;
    bottom:-40px;
    opacity:.9;
    animation:float 7s linear forwards;
}

/* Fade Animation */

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* Floating Hearts */

@keyframes float{

    0%{
        transform:translateY(0) scale(.8);
        opacity:0;
    }

    20%{
        opacity:1;
    }

    100%{
        transform:translateY(-120vh) scale(1.2);
        opacity:0;
    }

}

/* Mobile */

@media(max-width:600px){

    .container{
        width:92%;
    }

    .card{
        padding:24px 20px;
        margin:28px 0;
    }

    h1{
        font-size:52px;
    }

    h2{
        font-size:21px;
    }

    p{
        font-size:15px;
        line-height:1.6;
    }

    .emoji{
        font-size:52px;
    }

    .icon{
        font-size:30px;
    }

    .footer{
        font-size:14px;
    }

}

/* Confetti */

.confetti{
    position:fixed;
    top:-30px;
    pointer-events:none;
    z-index:1000;
    animation:fall 4s linear forwards;
}

@keyframes fall{

    from{
        transform:translateY(0) rotate(0deg);
    }

    to{
        transform:translateY(120vh) rotate(720deg);
    }

}
